<%-include("partials/header")-%>
    <div class="adminOptions-div">
        <a href="/registerEvent"> <button type="button" class="btn adminOptionbtn">CONDUCT AN EVENT</button> </a>
        <a href="/showRegisters"><button type="button" class="btn adminOptionbtn">SHOW ALL REGISTERED USERS</button></a>
    </div>